---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Where code flows like fine wine</h1>

    <div class="flex mb-6">
      <img
        src="/brennon-headshot-bw-stylized.png"
        alt="Brennon Williams headshot"
        class="w-92 h-92 rounded-full"
      />
      <div>
        <p>Hi, I'm <b>Brennon</b>.</p>
        <p>I build software (and sometimes hardware).</p>
        <p>Some things I'm interested in:</p>
        <ul>
          <li>Machine Reasoning</li>
          <li>Local-First Software</li>
          <li>Physical Computing</li>
          <li>Rapid Prototyping</li>
        </ul>
        <p>
          Actively obsessed with building on-device reasoning Agents, for work
          and fun.
        </p>
        <p>Hiker, reader, tinkerer, dog dad.</p>
      </div>
    </div>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Or, drop me a line at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>
    </p>
  </article>
</BaseLayout>
